@import "1-normalize.css";
@import "2-typescale.css";

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  height: 100vh;
  color: black;
}

#time-wrap {
  position: relative;
  display: flex;
  align-items: baseline;
  flex-direction: row;
  justify-content: space-between;
  width: 520px;
  text-align: center;
}

#time {
  font-size: 100px;
}

#am-pm {
  font-size: 65px;
  position: relative;
  right: 0;
}

.headline {
  margin: 0 0 50px 0;
  line-height: 2em;
}

#focus,
h4 {
  margin: 0;
  opacity: 0.6;
}

#name {
  margin: 0;
  padding: 0;
  line-height: 0;
  
}

#name:hover {
  cursor:pointer;
}
